@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	background-color: #D38BC3;
	
	
}
div,li{
	box-sizing: border-box;
}
p,h1,h2,ul{
	padding: 0;
	margin: 0;
}
ul{
	
	list-style-type: none;
}
.frm{
	width: 450px;
	margin-top: 20px;
	background-color: white;
	border-radius: 6px;
	float: left;
}
.frm .title-box{
	width: 100%;
	float: left;
}
.frm .title-box .title{
	width:90%;
	float:left;
	padding: 5px;
}
.frm .title-box .btn-close{
	width:10%;
	float:left;
	background-color: red;
	color:white;
	padding: 5px;
	text-align: center;
	cursor: pointer;
}
.frm .title-box .btn-close:hover{
	background-color: #000;
}
.frm .body{
	width:100%;
	float:left;
	padding: 8px;
	
}
label{
	width: 100%;
	float: left;
	
}
.frm-control{
	width: 100%;
	float: left;
	padding: 8px;
	border:1px solid #ccc;
	box-sizing: border-box;
	margin-top: 8px;

}
.footer{
	width:100%;
	float: left;
	padding:5px;
}
.btn{
	padding:8px 13px;
	float: left;
	border-radius: 4px;
	cursor: pointer;
	color:white;
}
.btn:hover{
	opacity: 0.7;
}
.btn-save{
	background-color: olivedrab;
}
.img img{
	background-repeat: no-repeat;
	width: 70%;
}